body {    
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #000;
    background-image: url("bdo-background.png");
    background-repeat: no-repeat;
    background-position: 50% -120%;
}
h1, h3 {
    font-family: 'Spectral SC', serif;
    font-weight: bold;
}
.wrap {
    min-width: 85%;
    max-width: 1200px;
    margin: 65px auto; 
}


.ingredient-table td {
    border: 1px solid #000;
    min-width: 200px;
    text-align: center;
}

.panel {
    padding: 2rem;
    background-color: rgba(255, 255, 255, .90);
    border-radius: 4px;
}